  <div class="row content">
    <div class="col-md-5 ">
      <div play-youtube class="video" code={{video.entry.id.$t.slice(42,53)}}>ggg</div>
    </div>
    <div class="col-md-7 tekst">
      <h1>{{video.entry.title.$t}}</h1>
      <h3>Viewed: {{video.entry.yt$statistics.viewCount}}</h3>
      <div class="opis">
        {{video.entry.content.$t}}
      </div>
      <button href="#/delete/{{video.entry.id.$t.slice(42, 53)}}/" type="button" class="btn btn-primary">Edytuj</button>
      <button href="#/witaj/" type="button" class="btn btn-danger" ng-click="usunVideo()"><a href="#/witaj/">Usuń</a> </button>
    </div>
  </div>
